
/*-------------------Global---------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    --text: #303030;
    --color-main: rgb(151, 127, 196);
    --color-secondary: #e9585c;
    --color-background: #eee9e4;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 1.5em;
    }
}

* {
    padding: 0;
    margin: 0;
}


/*-------------------General-------------------*/

.darkmode {
    --text: #eee9e4;
    --color-main: rgb(67, 50, 99);
    --color-secondary: #e9585c;
    --color-background: #303030;
}

body {
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.4rem;
    overflow-x: hidden;
    color:var(--text);
    background-color: var(--color-background);
    
}

h1 {
    font-family: "Roboto";
    font-size: 4.6rem;
    margin-bottom: 4%;
    color: var(--text);
}

button {
    padding:1.5em;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 0.5em;
    font-size: 0.7em;
    border: 0px;
    background-color: var(--color-secondary);
    color: var(--color-background);
    font-weight: bold;
}

button:hover {
    background-color: rgb(167, 167, 167);
    color: var(--text);
    font-weight: bold;
}

.row {
    padding:0;
    margin:0;
}

a, a:hover {
    color: var(--text);
}

ul {
    list-style-type:square ;
}

/*-------------------Canvas-------------------*/

.canvas {
    padding-left: 7vw;
    padding-right: 7vw;
    height: 100dvh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-content: start;
}

@media screen and (max-width: 1200px) {
    .canvas {
        min-height: 100vh;
    }
  }

.primary {
    background-color: var(--color-background);
}

.secondary {
    background-color: var(--color-main);
}

.maincard {
    padding: 0;
    padding-top: 10rem;
}

@media screen and (max-width: 1200px) {
    .maincard {
        padding-top: 5rem;
    }
}

/*-------------------Navs-------------------*/

.languageswitch {
    margin: 0.5em;
    z-index: 3000 !important;
}

.languageswitch:hover {
    cursor: pointer;
    text-decoration: underline;
}

.langnav {
    position: fixed;
    right: 15px;
    top: 30px;
    margin-right: 1em;
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    .langnav {
        font-size: 1.3em;
    }
}

#dot-nav {
    position: fixed;
    right: 20px;
    top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2 ;
    opacity: 80%;
}

@media screen and (max-width: 1200px) {
    #dot-nav {
        display: none;
        z-index: 0 ;
    }
}

#dot-nav a {
    border: 1px solid var(--text);
    border-radius: 50%;
    width: 0.4rem;
    height: 0.4rem;
    background: none;
    display: block;
    margin: 30px;
}
#dot-nav a.active {
    background: var(--text);
    width: 0.8rem;
    height: 0.8rem;
}

/*-------------------Cover-Section-------------------*/

.covercard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.covercard img {
    height: 50vh;
    width: 50vh;
}

@media screen and (max-width: 1200px) {
    .covercard img {
        height: 30vh;
        width: 30vh;
    }
}

.icons-container {
    display: flex;
    align-content: space-around;
    align-items: center;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.icon-link {
    color: var(--text);
    display: flex;
    align-items: center;
    overflow-x: hidden;
    min-width: 75px;
}

.icon-link img {
    height: 50px;
    width: 50px;
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    .icon-link {
        min-width: 90px;
    }
    .icon-link img {
        height: 70px;
        width: 70px;
    }
  }

@keyframes expandiv {
    0% {width: 0px;}
    100% {width: 120px;}
}

@keyframes shrinkdiv {
    0% {width: 120px;}
    100% {width: 0px}
}

.icontext {
    animation-name: expandiv;
    animation-duration: 0.2s;
    animation-play-state: paused;
    position: relative;
    overflow-x: hidden;
    --color-background-space: nowrap;
    padding-left:5px;
}

.skillicon img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

@media screen and (max-width: 1200px) {
    .skillicon img {
        width: 80px;
        height: 80px;
      }
}

.mail {
    font-size: 1.2em;
}

@media screen and (max-width: 1200px) {
    .mail {
        margin-bottom: 1.3em;
    }
}

/*-------------------Skills-Section-------------------*/

.skills-container {
    display: flex;
    flex: row;
    align-content: space-around;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.skills-container img {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

.skill {
    width: 18rem;
}

.skills-container ul {
    list-style-type: none;
}

/*-------------------Projects-Section-------------------*/

.flickity-prev-next-button {
    display: none;
}
.carousel {
    display: block; 
    padding-top: 7%; 
    padding-left: 0; 
    padding-right: 0;
    height: 100dvh;
}

.carousel h1 {
    margin-left: 15vw;
}

.flickity-page-dots {
    display: none;
}

@media screen and (max-width: 1200px) {
    .carousel {
      padding-top: 30%;
      min-height: 100vh;   
    }
    .carousel h1 {
        margin-left: 10vw;
    }

    .flickity-page-dots {
        display: block;
    }
}

.project-item {
    padding: 1rem;
    background-color: var(--text);
    border-radius: 1rem;
    background-size: cover;
    height: 25rem;
    width: 20rem;
    margin: 2rem;
    display: flex;
    align-items: end;
}

.project-item div {
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(240, 248, 255, 0.397);
    backdrop-filter: blur(6px);
    height: 12rem;
    width: 23rem;
}

@media screen and (max-width: 1200px) {
    .project-item {
        height: 40rem;
        width: 30rem;
    }

    .project-item div {
        height: 16rem;
        width: 28rem;
    }
}

.project-item:hover {
    cursor: pointer;
    background-color: rgb(95, 95, 95);
    background-blend-mode: lighten;
}


/*-------------------CV-Section-------------------*/

.cv-container {
    display: flex;
    font-size: 1vw;
    align-items: center; 
    height: 5rem; 
}

@media screen and (max-width: 1200px){
    .cv-container {
        height: 6.5rem; 
        font-size: 1.5rem;
    }
    .cv-container a {
        display: none;
    }

    .cv-description {
        margin-left: 25vw;
        padding: 0;
    }
}
@media screen and (max-width: 1200px) {
    hr {
        background-color: #5f3f99;
    }
}

/*-------------------SVG-------------------*/

.svgcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.skillssvg {
    width: 300px; 
    height: 300px; 
}

@media screen and (max-width: 1200px) {
    .skillssvg {
        width: 450px; 
        height: 450px; 
    }
}

