:root {
    --black: #303030;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    font-size: 90px;
    margin-bottom: 4%;
    color: var(--black);
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 35px;
    }
    h1 {
        font-size: 120px;
    }
  }

html {
    scroll-snap-type: y mandatory;
}

.card {
    height: 100vh;
    width: 100vw;
    border: 0px;
    scroll-snap-align: start;
}

.maincard {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center; 
    justify-items: center;
    padding:0%;
    padding-left: 7%; 
    padding-right: 5%; 
}

.secondarycard {
    display: flex;
    justify-content: center;
    padding:0%;
    padding-top: 11%;
}

p {
    color:grey;
}

.p-right {
    color: rgb(231, 231, 231);
    padding-right: 5%;
}

@keyframes go-up {
    0% {top:50px;opacity: 0%;}
    100% {top:0px;opacity: 100%;}
}

@keyframes go-right {
    0% {right:50px; opacity: 0%;}
    100% {right:0px; opacity: 100%;}
}

.presentation {
    margin-top: 9%;
    margin-left: 7%;
}

.goup {
    animation-name: go-up;
    animation-duration: 2s;
    position: relative;
}

.goright {
    animation-name: go-right;
    animation-duration: 2s;
    position: relative;
}

button {
    padding:15px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 15px;
    border: 0px;
    background-color: rgb(151, 127, 196);
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: rgb(167, 167, 167);
    border: 2px;
    border-color: blueviolet;
    color: var(--black);
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 25;
    margin-top: 5%;
    margin-bottom: 5%;
}

.buttons a, a:hover {
    color: var(--black);
}

.icons-container {
    display: flex;
    align-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.icon-link {
    color: var(--black);
    display: flex;
    align-items: center;
    overflow-x: hidden;
    width: 150px;
}

.icon-link img {
    height: 40px;
    width: 40px;
    z-index: 1;
}

@keyframes icontextout {
    0% {left:150px;}
    100% {left:0px;}
}

@keyframes icontextin {
    0% {left:0px;}
    100% {left:150px;}
}

.icontext {
    animation-name: icontextin;
    animation-duration: 0.2s;
    position: relative;
    margin-left: -150px;
    padding-left: 5px;
}


